@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0px;
  margin-top: 0px;
  font-family: "Public Sans", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  height: 80px;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 32px;
}

.navbar ul li {
    cursor: pointer;
}

#bellIcon {
  margin-right: 16px;
}

.hero {
  background-color: rgba(231, 229, 229, 0.322);
  height: calc(100vh - 80px);
}

.balance-summary {
  display: flex;
  gap: 26px;
  justify-content: center;
  padding-top: 20px;
}

.border {
  padding: 16px 32px;
  background-color: #e7e9e9;
  border-radius: 5px;
}

.border p:nth-child(1) {
  font-size: 20px;
}
.border p:nth-child(2) {
  font-size: 35px;
}

.border p {
  margin: 0;
}

.income p:nth-child(2) {
  color: rgb(7, 105, 7);
}
.expense p:nth-child(2) {
  color: rgb(190, 9, 9);
}

.transaction-list-container {
  background-color: white;
  border-radius: 7px;
  margin: 20px;
  padding: 15px 20px;
  width: 50vw;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

.transaction-list ul {
  list-style: none;
}

.list {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.li-btns {
  display: flex;
  gap: 10px;
}

.li-btns button {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.li-btns button:nth-child(1) {
    background-color: hsl(0, 58%, 42%);
    border: none;
    color: white;
}
.li-btns button:nth-child(1):hover {
    background-color: hsl(0, 88%, 42%);
}
.li-btns button:nth-child(1):active {
    background-color: hsl(0, 60%, 55%);
}

.li-btns button:nth-child(2) {
    background-color: rgb(37, 37, 37);
    border: none;
    color: white;
}
.li-btns button:nth-child(2):hover {
    background-color:  rgba(37, 37, 37, 0.911);
}
.li-btns button:nth-child(2):active {
    background-color: rgba(37, 37, 37, 0.811);
}

.add-transaction-container {
  background-color: #004B57;
  color: white;
  border-radius: 7px;
  margin: 20px;
  padding: 15px 20px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  width: 15vw;
  height: 300px;
}

.add-transaction-container h1 {
    font-size: 20px;
}
.add-transaction-container label {
    font-size: 15px;
}

#amount-label {
    color: rgba(255, 255, 255, 0.767);
}
#title-label {
    color: rgba(255, 255, 255, 0.767);
}

.add-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#amount {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: hsl(188, 40%, 17%);
    font-weight: bold;
    color: white;
}
#title {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: hsl(188, 40%, 17%);
    font-weight: bold;
    color: white;
}

.add-form button {
    background-color: #B2ECFA;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: 500;
    cursor: pointer;
}
.add-form button:hover {
    background-color: hsla(192, 88%, 84%, 0.808)
}
.add-form button:active {
    background-color: hsla(192, 88%, 84%, 0.616)
}

.red {
  color: red;
}

.green {
  color: green;
}

.transaction-section {
  display: flex;
  justify-content: center;
}

.no-transactions {
  color: red;
}
