* {
  padding: 0px;
  margin-top: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  height: 80px;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 32px;
}

#bellIcon {
  margin-right: 16px;
}

.hero {
  background-color: rgba(231, 229, 229, 0.322);
  height: calc(100vh - 80px);
}

.balance-summary {
  display: flex;
  gap: 26px;
  justify-content: center;
  padding-top: 20px;
}

.border {
  padding: 16px 32px;
  background-color: #e7e9e9;
  border-radius: 5px;
}

.border p:nth-child(1) {
  font-size: 20px;
}
.border p:nth-child(2) {
  font-size: 35px;
}

.border p {
  margin: 0;
}

.income p:nth-child(2) {
  color: rgb(7, 105, 7);
}
.expense p:nth-child(2) {
  color: rgb(190, 9, 9);
}

.transaction-list-container {
  background-color: white;
  border-radius: 7px;
  margin: 20px;
  padding: 15px 20px;
  width: 50vw;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

.transaction-list ul {
  list-style: none;
}

.list {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.li-btns {
  display: flex;
  gap: 10px;
}

.li-btns button {
    padding: 10px 15px;
}
